<!DOCTYPE html>
<html>
    <head>
        <title>Campest</title>
        <!-- Make site responsive on mobile/tablet -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
        
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#codebrainery-toggle-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="/">Campest</a>
            </div>
            <div      class="collapse navbar-collapse" id="codebrainery-toggle-nav">
                <ul class="nav navbar-nav navbar-right">
                     <% if(!currentUser){ %>
                      <li><a href="/register">Sign Up <i class="fas fa-user-plus"></i></a></li>
                    
                    <li><a href="/login">Login <i class="fas fa-sign-in-alt"></i></a></li> 
                   <% }else { %>
                    <li class="active"><a href="#"><%=currentUser.username %></a></li>
                    <li><a href="/logout">Logout <i class="fas fa-sign-out-alt"></i></a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    
     <div class="container">
        
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
</div>