:root{
width:100%;
height:100vh;
    
    
}
    #jumbotron{
    color:white;
    background-image: url("https://images.unsplash.com/photo-1465695954255-a262b0f57b40?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80")
}
.thumbnail img{
    width:100%;
}

.thumbnail{
    padding:0;
}
.thumbnail caption{
    padding:1em;
}
#log-sign-in, #reg, #log{
  
    width:30em;
}


#delete{
    display:inline;
}
#commentDelete{
    display: inline;
}
#indexpage_images{
    height:300px;
}
.foot-icon{
    padding:0.5em;
}
.fa-linkedin-in{
    color:white;
    background-color: rgb(0 ,119,181);
}
.fa-github{
    color:black;
    
}
.fa-twitter{
    color: rgb(0 ,119,181);
}

