<footer>
   <div class="container text-center">
    <h3><a  href="https://www.linkedin.com/in/yunus-türe-74ab25110"><i class="foot-icon fab fa-linkedin-in rounded-circle"></i></a>
    <a href="https://www.github.com/rizikolik"><i class="foot-icon fab fa-github rounded"></i></a>
    <a href="https://www.twitter.com/ture_yns?s=09"><i class="foot-icon fab fa-twitter"></i></a></h3>
</div> 
</footer>
</body>
</html>