/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slide li {
	opacity: 1;
}

body{
    background-color: black;
    color:white;
}
.container{
     z-index: 1;
    position: relative;
    padding:5em;
}
i{
    color:green;
}
.slide{
    list-style: none;
    width:100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    margin:0;
    padding:0;
    top:0;
    left:0;
}
.slide li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}
.slide li:nth-child(1) { 
  background-image: url("https://images.unsplash.com/photo-1484960055659-a39d25adcb3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80") 
}
.slide li:nth-child(2) { 
  background-image: url("https://images.unsplash.com/photo-1504851149312-7a075b496cc7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1549&q=80");
  animation-delay: 10s; 
}
.slide li:nth-child(3) { 
  background-image: url("https://images.unsplash.com/photo-1468245856972-a0333f3f8293?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  animation-delay: 20s; 
}
.slide li:nth-child(4) { 
  background-image: url("https://images.unsplash.com/photo-1521762524706-2c5d4f816d89?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=743&q=80");
  animation-delay: 30s; 
}
.slide li:nth-child(5) { 
  background-image: url("https://images.unsplash.com/photo-1526140684821-ac7437ed8349?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  animation-delay: 40s; 
}
@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}