<!DOCTYPE html>
<html>
  <head>
    <title>Campest</title>
    <!-- Make site responsive on mobile/tablet -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"
      type="text/javascript"
      async
    ></script>
  </head>
  <body>
    <div class="container">
      <% if(error&&error.length>0){ %>
      <div class="alert alert-danger" role="alert">
        <%=error%>
      </div>
      <% } %> <% if(success&&success.length>0){ %>
      <div class="alert alert-success" role="alert">
        <%=success%>
      </div>
      <% } %>
    </div>

    <div id="landPage" class="container text-center">
      <h1>Welcome To The Campest</h1>
      <p>It is the best option for campers</p>

      <a class="btn btn-default btn-lg" href="/campgrounds"
        >See Camp Zones<i class="fab fa-free-code-camp"></i
      ></a>
    </div>

    <ul class="slide">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </body>
</html>
